In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\USER\Downloads\Invoices for today\Customer Call List.xlsx")

In [3]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [5]:
df=df.drop_duplicates()

In [6]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [8]:
#dropping off the unuseful column
df = df.drop(columns = "Not_Useful_Column")

In [12]:
df["Last_Name"] = df["Last_Name"].str.strip("123./_")

In [28]:
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','')

C:\Users\USER\AppData\Local\Temp\ipykernel_13552\1866839349.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','')

In [37]:
#turning the phone number to a string
df["Phone_Number"] = df["Phone_Number"].apply(lambda x : str(x))

In [40]:
#Inputting - in between the phone numbers
df["Phone_Number"] = df["Phone_Number"].apply(lambda x : x[0:3] + '-' + x[3:6] + '-' + x[6:10] + '-')

In [42]:
df["Phone_Number"] = df["Phone_Number"].str.rstrip('-')

In [43]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,nan,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [51]:
#Cleaning the Paying customer column
df["Paying Customer"] = df["Paying Customer"].str.replace('Yes','Y')

In [52]:
df["Paying Customer"] = df["Paying Customer"].str.replace('No','N')

In [53]:
df["Paying Customer"] = df["Paying Customer"].str.replace('Y','Yes')

In [54]:
df["Paying Customer"] = df["Paying Customer"].str.replace('N','No')

In [55]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,nan,298 Drugs Driveway,No,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan,2394 Hogwarts Avenue,Yes,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan,3498 Super Lane,Yes,NaN
18,1019,Creed,Braton,Na,N/a,No/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [56]:
#Cleaning the Do not Contact column
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes','Y')

In [57]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No','N')

In [58]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Y','Yes')

In [59]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('N','No')

In [60]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,nan,298 Drugs Driveway,No,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan,2394 Hogwarts Avenue,Yes,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan,3498 Super Lane,Yes,NaN
18,1019,Creed,Braton,Na,N/a,No/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No

In [61]:
df = df.dropna()

In [62]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
18,1019,Creed,Braton,Na,N/a,No/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No

In [64]:
#We want only people who want to be contacted
for x in df.index:
    if df.loc[x,"Do_Not_Contact"] == "Yes":
        df.drop(x,drop=True)

In [65]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
6,1007,Jeff,Winger,nan,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No

In [68]:
#cleaning out the nan
df["Phone_Number"] = df["Phone_Number"].str.replace('nan','')

C:\Users\USER\AppData\Local\Temp\ipykernel_13552\3823420426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone_Number"] = df["Phone_Number"].str.replace('nan','')

In [69]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No

In [73]:
df = df.reset_index(drop=True)

In [74]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
2,1007,Jeff,Winger,,1209 South Street,No,No
3,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
4,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
5,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
6,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
7,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
8,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
9,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
10,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
11,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No

In [76]:
#Clearing off the empty spaces
for x in df.index:
    if df.loc[x,"Phone_Number"] == '':
        df.drop(x, inplace= True)

In [77]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
3,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
4,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
6,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
7,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
8,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
9,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
10,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
11,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No

In [78]:
df = df.reset_index(drop=True)

In [79]:
#Final result, Data has been properly cleaned.
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
3,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
4,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
5,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
6,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
8,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
9,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No